#esquerda {
width:100%;
height:100px;
background:#B66878; /* Alteração da cor da barra */
position: fixed; /* Posição fixa */
top: 0; left: 0;
box-shadow: 0  0 20px 1px rgba(0,0,0,0.6);
}

#navbar{
	text-align: center; /* retirou-se o <center> do HTML e inseriu-se esse comando para centralizar de forma correta pelo CSS --> */
	line-height:100px; /* A linha terá a mesma altura do div */
}
/* <!-- Utilização de fonte especial no site --> */
nav{
	float:right;
	margin-right: 4%;
}

a {
  font-family: 'Merriweather Sans', sans-serif;
  font-size:20px; /* Tamanho da fonte */
}
/* Estilizar os links */
		/* link não visitado */
		a:link {
			color:white;
			text-decoration: none;
		}
		/* link visitado */
		a:visited {
			color:#F0FFFF; /* cor = menta */
			text-decoration: none;
		}
		a:hover {
  			color: #E0FFFF;
		}

img{
	float: left;
}
/* Alinhamento vertical do ícone do WhatsApp */
svg{
	margin-left: 20px; /* Dá distância da logo do WhatsApp do "Fale Conosco" */
	vertical-align: middle;
}
.prim {
	margin-top: 130px;
	color: #B66878;
	font-family: 'Merriweather Sans', sans-serif;
	margin-left: 20px;
	text-align: center;
}
.paragr{
	color: #3b3b3b;
	font-family: 'Merriweather Sans', sans-serif;
	margin-left: 50px;
	margin-right: 50px;
	font-weight:bold;
}
p {
	color: #3b3b3b;
	font-family: 'Merriweather Sans', sans-serif;
	margin-left: 20px;
	margin-right: 7%; /* Colocada para melhorar a distribição do texto */
}

h1{
	color: #B66878;
	font-family: 'Merriweather Sans', sans-serif;
	margin-left: 20px;
}
.local{
	margin-top: 100px;
	clear:both;
}

	/* Estilo do formulário */

      form {
      width: 80%;
      border-radius: 30px;
      background: #fff;

      }
      .form-inner {
      padding: 40px;
      
      }
      .form-inner input,
      .form-inner textarea {
      display: block;
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border-color: #d696a3;
      background: none;
      font-family: 'Merriweather Sans', sans-serif;
      color: #3b3b3b;
      font-size: 16px;
      }
      .form-inner textarea {
      resize: none;
      }
      button {
      width: 30%;
      padding: 10px;
      margin-top: 20px;
      border-radius: 20px;
      background: #B66878; 
      font-size: 16px;
      color: #fff;
      font-family: 'Merriweather Sans', sans-serif;
      }
      button:hover {
      background: #fff;
       color: #B66878;
      } 
     
